<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Post Website</title>
</head>
<body>
  <h1 class="title">Post Website</h1>
  <div class="container">
    <div class="form-group">
      <label for="postTextArea">Post Content</label>
      <textarea class="form-control" id="post-content" rows="3"></textarea>
      <button type="submit" class="btn btn-primary" onclick="handleSubmitPost()">Submit</button>
    </div>

    <div class="posted-posts">
      <% posts.forEach(element => { %>
       <div class="posted-post-wrapper">
        <h4><%= element.content %> </h2>
       </div>
      <% }) %>
    </div>
  </div>

  <script src="../public/javascripts/script.js"></script>
</body>
</html>